@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
	--main-background: #fff;
	--sub-background-color: #c1c5af;
	--main-fonts-color: #000;
	--main-decor-color:#758B72;
    --main-header-background:#fff;
	--main-font-family: 'Roboto Mono', monospace, sans-serif;
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

main{
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}


/*────────────────── 
       header
──────────────────*/

header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center; 
	justify-content: space-around; 
    background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}

.nav-show{
	opacity: 0;
}

header:hover{
	opacity: 1;
	background: var(--main-header-background);
}

/* .logo {
	display: flex;
	align-items: left;
	justify-content: left;
}
.logo-pic {
	flex-basis: 5%;
	width: 10%;
	height: 10%;
	padding-top: 20px;
}
.logo h1{
	font-family: var(--main-font-family);
	padding-top: 5px;
	padding-left: 20px;
	height: 50px;
	cursor: pointer;
	color: #000;
}

*/


.nav-container {
	list-style: none;
	position: relative;
}

a.nav-link{
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}

.active{
	background: var(--main-decor-color);
}

.nav-link:hover {
	color: #000000;
    background: var(--main-decor-color);
}

.nav-left, .nav-right{
	display: inline-flex;
	align-items: center; 
	justify-content: space-around;
	flex: 2; 
	color: var(--main-fonts-color);
}

.nav-left{
	order: 1;
}


.logo{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: var(--main-font-family);
	color: var(--main-fonts-color);
	flex: 1;
	cursor: pointer;
	color: #000;
	order: 2;
	text-decoration: none;
}

.logo-pic{
	max-width: 6%;
	padding: 0 10px;
}

.logo li{
	text-align: center;
}


.logo:hover {
	color: var(--main-decor-color);
	text-decoration: none;
}

.nav-right{
	order: 3;
}

.mobile-header{
	display: none;
}
/*──────────────────
       home
──────────────────*/

#home{ 	
	margin: auto;
	height: 100vh;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#home .filter{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
	opacity:.20;
}  

.intro {
	text-align:center;
    color: var(--main-fonts-color);
	z-index: 1;
	margin: auto;
	padding: 20px;
}

.intro  p{
    margin: 5px;
	padding: 0% 20%;
	font-size:1.2rem;
	font-family: var(--main-font-family);
	text-align: left;
}

 h3{
	padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: Normal;
	font-size: 50px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
	text-align: left;
	padding: 0% 20%;
}


/*──────────────────
    social media
──────────────────*/

.social-media{
	padding: 10px;
	padding-top: 20px;
	display: flex;
	position: center;
    align-items: space-around;
	justify-content:center;
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i{
	cursor: pointer;
}

.social-media  a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}

/*──────────────────
      about-me
──────────────────*/

#about-me {
	border: none;
	padding: 0% 10%; 	
	padding-top: 100px;
	height: auto;
	color: var(--main-fonts-color);
	background-color: var(--sub-background-color) ;
}

#about-me h3 {
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: Normal;
	font-size: 50px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
	text-align: center;
	padding: 0% 20% 3% 20%;
}

.about {
	padding: 0% 15% 50px 15%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}


.about_text {
    /* margin: 5px;*/
	padding-left: 15px;
	font-size:1rem;
	font-family: var(--main-font-family);
	font-weight: 400;
	text-align: justify;
	flex: 1;
	order: 2;
}

.personal-photo {
	object-fit: contain;
	align-self: flex-start;
	border-radius: 20px;
	max-width: 28%;
	padding: 0;
	width: 400px;
	order: 1;
	flex: 1;
}

/*──────────────────
      projects
──────────────────*/

#projects{
	/* margin-top:100px; */
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align:center;
	color: var(--main-fonts-color);
}
#projects h3{
    padding-top: 100px;
}
#projects p{
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
}

.work{
	display: flex; 
	flex: 1;
    flex-wrap: wrap;
    justify-content:center;
	align-items: center;
	padding: 20px;
}

.card{
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 200px;
	height:250px;
	border-radius:12px;
    background:var(--main-decor-color);
	margin-bottom: 80px;
}

.card img{
	width: 100%;
	height:70%;
	border-radius:10px 10px 0px 0px;
}

.card .work-content{
	text-align: center;
	padding: 10px 5px;
	font-size: 1rem;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
}

.card a{
	text-decoration: none;
}

.card .work-content:hover{
    color:#202020;
}

.card:hover{
	box-shadow: 0 0 1.5rem gray;
}

/*──────────────────
      Experience
──────────────────*/
#experience {
	border: none;
	padding: 0% 10%; 	
	/* margin-top: 100px; */
	height: 100%;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center ;
	flex-wrap: nowrap;
	background-color: var(--sub-background-color) ;
}

#experience h3 {
	padding-top: 100px;
	padding-bottom: 50px;
}

.accordion {
	max-width: 800px;
	box-shadow: 5px 2px 5px var(--main-decor-color);
	width: 600px;
	border-radius: 5px;
	overflow: hidden;
	font-family: var(--main-font-family);
	background-color: #fff;
	margin-bottom: 80px;
}

.accordion__label,
.accordion__content {
	padding: 14px 20px;
}

.accordion__label{
	display: block;
	color: #000;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	transition: background 0.1s;
}

.accordion__label:hover {
	background: rgba(0, 100, 0, 0.1);
}

.accordion__label::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px; /*make sure this value is the same as accordion__label padding left/right value*/
	width: 24px;
	height: 12px;
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 13H5v-2h14v2z'/%3E%3C/svg%3E"); */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3E%3C/svg%3E");
	background-size: contain;
	transition: transform 0.4s;
	background-repeat: no-repeat;
}

.accordion__content {
	background: var(--main-decor-color);
	line-height: 1.6;
	font-size: 0.85em;
	display: none;
}

.job-title {
	font-weight: bold;
}

.accordion__content ul{
	padding-left: 15px;
}

.accordion__input {
	display: none;
}

.accordion__input:checked ~ .accordion__content{
	display: block;
}

.accordion__input:checked ~ .accordion__label::after{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 13H5v-2h14v2z'/%3E%3C/svg%3E");
}

/*──────────────────
      Contact
──────────────────*/

#contact{
	margin: auto;
	padding-bottom: 20px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--main-fonts-color);
}
	
#contact p{
	padding:10px;
	text-align:center;
	font-size:1.2rem;
	font-family: var(--main-font-family);
}

/*────────────────── 
	Li-ion Page
──────────────────*/
.liion-content{
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}

.li-ion-page {
	margin: auto;
	height: auto;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	align-items: center;
	justify-content: space-evenly;
	text-align:center;
    color: var(--main-fonts-color);
	z-index: 1;
	padding: 20px;
}

.li-ion-page h2{
	margin: 100px 0px 20px 0px;
	padding-bottom: 15px;
    letter-spacing: normal;
	font-style: Normal;
	font-size: 50px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
	text-align: center;
	padding: 0% 15%;
}

.li-ion-page p{
	padding: 10px 20%;
	font-size:1rem;
	text-align: justify;
}

.li-ion-page figure {
	margin: 10px 20%;
	max-width: 100%;
}

.color-chart{
	margin: 10px 20%;
	max-width: 40%;
}

.li-ion-page figcaption{
	font-size: 0.8rem;
}

.li-ion-page .resources {
	text-align: left;
	padding-top: 30px;
	/* padding-bottom: 100px; */
}

.li-ion-page .resources p {
	text-align: left;
	padding: 10px 20%;
}

.li-ion-page .resources ol{
	padding: 10px 22%;
}

/*────────────────── 
	Hydroponics Page
──────────────────*/

.hydroponics-page {
	margin: auto;
	height: auto;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	align-items: center;
	justify-content: space-evenly;
	text-align:center;
    color: var(--main-fonts-color);
	z-index: 1;
	padding: 20px;
}

.hydroponics-page h2{
	margin: 100px 0px 20px 0px;
	padding-bottom: 15px;
    letter-spacing: normal;
	font-style: Normal;
	font-size: 50px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
	text-align: center;
	padding: 0% 15%;
}

.hydroponics-page p{
	padding: 10px 20%;
	font-size:1rem;
	text-align: justify;
}

.hydroponics-page figure {
	margin: 10px 20%;
	max-width: 100%;
}

.hydroponics-page img{
	max-width: 60%;
	border-radius: 10px;
}

.hydroponics-page figcaption{
	font-size: 0.8rem;
}

/*────────────────── 
       footer
──────────────────*/

footer {
	min-height: 100%;
	padding-top: 10px;
	width: 100%;
	height: auto;
    background-color: var(--main-header-background);
	display: flex;
	justify-content: center;
}

footer a {
	padding: 0 5px;
	color: #000;
}

footer a:hover{
	color: var(--main-decor-color);
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: var(--main-decor-color);
}

/*──── hr ─────*/

hr {
    background: var(--main-decor-color);
	margin: 0px;
	height: 0px;
	width: 0px;
    border-radius:0px;
	border: hidden;
	margin-inline-start: auto;
    margin-inline-end: auto;
}

/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-Scrollbar{
    width: 5px; 
	background: rgba(5,5,5,1);
}
::-webkit-Scrollbar-thumb{
	border-radius: 10px;
	background: var(--main-decor-color);
	box-shadow: inset 0 0 20px var(--main-decor-color);
}
::-webkit-Scrollbar-track{
	margin-top: 80px;
	border-radius: 10px;
}

/*────────────────── 
     hamburger
──────────────────*/
.hamburger {
	display: none;
}

.hamburger div{
	width: 30px;
	height: 3px;
	background: #dbdbdb;
	margin: 5px;
	transition:all 0.3s ease;
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
	from{
		opacity:0;
		transform: translatex(50px);
	}
	to{
		opacity: 1;
		transform:translatex(0px);
	}
}

/*────────────────── 
    media queries
──────────────────*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
	.work{
        padding:20px 20%;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1000px) {
	.work{
        padding:20px 12%;
    }
}


@media only screen and (max-width: 768px) {

	#home, #projects, #contact, .liion-content, .resources, .hydroponics-content{
        overflow-x: hidden;
	}

	.li-ion-photo {
		max-width: 100%;
	}

}

@media only screen and (max-width:1300px) {

	header{
		background-color: var(--main-header-background);
		margin: auto;
	}
	
	a.mobile-nav-link{
		margin: 2px;
		padding: 5px 10px;
		text-decoration: none;
		color: var(--main-fonts-color);
		font-family: var(--main-font-family);
		cursor: pointer;
		text-transform: uppercase;
	}

	.mobile-nav-link:hover {
		color: #000000;
		background: var(--main-decor-color);
	}

	.nav-container{
		display: none;
	}

	.mobile-header{
		position: relative;
		display: inline;

	}

	.mobile-logo{
		position: relative;
		top: 2px;
		right: 50px;
		font-family: var(--main-font-family);
		flex: 1;
		cursor: pointer;
		color: #000;
		align-items: center;
	}

	.mobile-nav{
		position:fixed;
		top: 0px;
		right:0;
		width:50%;
		height: 100vh;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content:space-evenly;
		background:var(--main-header-background);
		transform:translatex(100%);
		transition: transform 0.5s ease-in;
		z-index: -1;
		padding-right: 0;
		list-style: none;
	}

	.hamburger{
		display: inline;
		position:absolute;
		top: 0px;
		right: 0;
		display: block;
		cursor:pointer;
		z-index: 5;
	}	

	.nav-active{
		transform:translatex(0%);
	}	
}

@media(max-width:768px) {
	.about{
		flex-direction: column;
		align-items: center;
	}
	.personal-photo{ 
		max-width:100%;
		margin-bottom: 10px;
	}
	
	.about_text{
		padding: 0;
		margin: 0;
	}

	.accordion{
		max-width: 100%;
	}
	
}